body {
    padding-top: 50px;
    background-color: #fff;
}

.alpha65 {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity */
    background: rgba(255, 255, 255, 0.65);
    /* For IE 5.5 - 7*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #44FFFFFF, endColorstr = #44FFFFFF);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#44FFFFFF, endColorstr=#44FFFFFF)";
}

.border-black {
    border: 1px solid #000;
}

a {
    color: #DA2F65;
}

a:hover {
    color: #831C3D;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

h1 {
    font-weight: 700;
}

h2 {
    font-size: 26px;
    margin-bottom: 25px;
}

h3.title-header {
    display: block;
    background-color: #DA2F65;
    margin: 0;
    padding: 15px;
    font-size: 30px;
    color: #fff;
}

.bl-navbar {
    background-color: #831C3D;
    border: none;
    border-bottom: 1px solid #fff;
}

.bl-list {
}

.bl-navbar-header {
}

.bl-nav-brand {
    position: relative;
    height: auto;
    padding: 0;
    border-right: 1px solid #fff;
}

.bl-nav-menu {
    position: relative;
}

.bl-navbar-nav {
    font-size: 0.95em;
    font-weight: 700;
    margin-top: 65px;
}

.bl-navbar .bl-navbar-nav > li > a {
    color: #fff;
    padding: 5px 15px 10px 20px;
    border-right: 1px solid #fff;
}

.bl-breadcrumb {
    background-color: #831C3D;
    margin-bottom: 0;
    border-radius: 0;
}

.bl-breadcrumb a {
    color: #fff;
}

.collection-page {
    background-color: #fff;
    margin-top: 51px;
}

#item-figure {
    position: relative;
    padding: 0;
}

#item-figure img {
    width: 1170px;
}

#full-screen-button {
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 0;
}

.bl-modal-dialog {
    padding-left: 7.5px;
    margin: 10px auto;
}

.bl-modal-content {
    border-radius: 0;
}

.bl-modal-content img {
    width: 100%;
}

.bl-modal-footer {
    padding: 6px 20px 7px 20px;
}

.bl-modal-footer button {
    margin-top: 7px;
}

.metadata-floater {
    position: absolute;
    right: 0;
    top: 0;
    height: 440px auto;
    padding: 18px 18px 25px 18px;
}

.metadata-box {
    height: 100%;
    width: 100%;
}

.metadata-box table {
    width: 100%;
}

.metadata-box table, .metadata-box dl {
    font-size: 0.88em;
}

.metadata-box dt {
    margin: 0;
    padding: 0;
    line-height: 1.25em;
}

.metadata-box dd {
    line-height: 1.25em;
    margin: 0;
    padding: 0;
    margin-bottom: 3.5px;
}

.metadata-box tr {
    vertical-align: top;
}

.metadata-box th {
    padding: 3px 0;
    width: 38%;
    font-weight: normal;
}

.metadata-box td {
    padding: 3px 0;
}

.fig-footer {
    padding: 0px;
    padding-top: 5px;
}

#cc-licence {
    padding: 0 15px;
}

#social-buttons {
    padding: 10px 15px;
    position: relative;
}

#social-buttons img {
    width: auto;
}

#location-map {
}

.bl-thumbnail {
    border-radius: 0;
    padding: 0;
    border: 0;
}

.bl-masonry-thumb3 .bl-thumbnail img {
    width: 262.5px;
}

.col-sm-4 .bl-thumbnail img, .bl-masonry-thumb4 .bl-thumbnail img {
    width: 360px;
    margin: 0;
}

.col-sm-4 .bl-thumbnail {
    margin-top: 30px;
}

.bl-masonry-thumb4 .bl-thumbnail {
    width: 360px;
    margin-bottom: 30px;
}

.bl-thumb-text {
    padding: 5px 10px;
}

.bl-masonry-thumb3 .bl-thumb-text {
    width: 262.5px;
    margin-bottom: 30px;
}

.col-sm-4 .bl-thumb-text {
    background-color: #f0f0f0;
}

a > .bl-thumb-text > h5 {
    color: #831C3D;
}

a:hover > .bl-thumb-text > h5 {
    text-decoration: underline;
    color: #da2f65;
}

@media (min-width: 768px) and (max-width: 990px) {
    .bl-navbar-nav {
        margin-top: 30px;
        float: none;
    }
}

@media (min-width: 1441px) {
    .bl-modal-dialog {
        width: 68%;
    }
}

@media (max-width: 1440px) {
    .bl-modal-dialog {
        width: 85%;
    }
}

@media (max-width: 990px) {
    .bl-modal-dialog {
        width: 90%;
    }
}

#bl-full-img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.5);

}

.bl-page-end {
    height: 80px;
    padding: 20px;
    background-color: #eee;
}

.bl-footer {
    color: #fff;
    border-top: 16px solid #da2f65;
    height: 104px;
    padding-top: 16px;
    position: relative;
    background-color: #313131;
}

.bl-footer .container {

}

.bl-footer p {
    font-size: 11.2px;
    margin-left: 14px;
    margin-top: 12px;
}

.bl-nav-pills a,
.bl-nav-pills a:hover {
    background-color: transparent;
    color: white;
}

.bl-nav > li > a {
    padding: .5em 1em;
}

.bl-nav > li > a:hover {
    background-color: transparent;
    text-decoration: underline;
}

.bl-explore-panel {
    background-color: #eee;
    margin-top: 100px;
    padding: 20px;
    0;
}

.bl-explore-panel section > h4 {
    padding: 20px 0;
}
